body {
    padding: 0;
    margin: 0;
    background: black;
}
.screen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: black;
    font-family: 'Roboto Mono', serif;
}

@media only screen and (min-width: 600px) {
    .display {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10vh;
        margin-bottom: 10vh;
        height: 80vh;
    }

    .mobile {
        display: none;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 25%;
        background-color: black;
        border-right: 2px dotted white;
    }

    #homeScreen {
        height: 100%;
        width: 100%;
    }

    .content {
        display:  flex;
        flex-direction: column;
        height: 100%;
        width: 75%;
    }

    .row2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70%;
    }

    .row3 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 21.5%;
        color: white;
        font-weight: 600;
        font-size: 1vw;
        justify-content: center;
        margin-bottom: 8.5%;
    }

    .col11 {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        justify-content: center;
        text-align: center;
        align-content: center;
    }

    .col11:hover {
        transform: scale(110%);
    }

    .col12 {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        justify-content: center;
        text-align: center;
        align-content: center;
    }

    .col21 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: black;
        justify-content: center;
    }

    #scienceContent {
        display: none;
    }

    #gamesContent {
        display: none;
    }

    #sportsContent {
        display: none;
    }

    .col31 {
        display: flex;
        flex-direction: column;
        width: 33%;
        height: 100%;
        justify-content: flex-end;
        text-align: center;
        justify-content: center;
        align-content: center;
        border: 2px solid white;
        margin-left: 5%;
        border-radius: 25%/50%;
    }

    .col31:hover {
        transform: scale(110%);
    }

    .col32 {
        display: flex;
        flex-direction: column;
        width: 34%;
        height: 100%;
        justify-content: flex-end;
        text-align: center;
        align-content: center;
        justify-content: center;
        border: 2px solid white;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 25%/50%;
    }

    .col32:hover {
        transform: scale(110%);
    }

    .col33 {
        display: flex;
        flex-direction: column;
        width: 33%;
        height: 100%;
        justify-content: center;
        text-align: center;
        align-content: center;
        border: 2px solid white;
        margin-right: 5%;
        border-radius: 25%/50%;
    }

    .col33:hover {
        transform: scale(110%);
    }

    .logoContainer {
        width: 100%;
        height: 45%;
    }

    .logo {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    .navbarContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 25%;
        margin-top: 5%;
        margin-bottom: 15%;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        color: white;
        font-weight: 600;
        padding: 0;
        height: 100%;
        width: 100%;
        text-transform: lowercase;
        list-style-type: none;
        font-size: 0.9vw;
    }

    .navbar li:hover {
        text-decoration: underline;
        transform: scale(110%);
    }

    .sideFooter {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20%;
        justify-content: flex-end;
    }

    .socials {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 80%;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 5%;
    }

    .socials img:hover {
        transform: scale(110%);
    }

    .socialmedia {
        object-fit: scale-down;
        display: flex;
        justify-content: flex-end;
        height: 43%;
        width: 11%;
        filter: invert(100%);
        margin-right: 5%;
        margin-left: 5%;
        padding: 0;
    }

    .socialmedia2 {
        object-fit: scale-down;
        display: flex;
        justify-content: flex-end;
        height: 44%;
        width: 13%;
        filter: invert(100%);
        margin-right: 4%;
        margin-left: 4%;
        padding: 0;
    }

    .copyright {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20%;
        color: white;
        justify-content: flex-start;
        text-align: center;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 0.65vw;
    }

    .hero {
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        text-align: center;
        font-size: 2vw;
    }

    .subhero {
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        text-align: center;
        font-size: 1vw;
    }

    .icons {
        display: flex;
        object-fit: scale-down;
        height: 80%;
        width: 20%;
        filter: invert(100%);
        margin-right: 40%;
        margin-left: 40%;
        padding: 0;
        align-content: center;
        margin-top: 5%;
    }

    .iconsSmall {
        display: flex;
        object-fit: scale-down;
        height: 80%;
        width: 20%;
        filter: invert(100%);
        margin-right: 40%;
        margin-left: 40%;
        margin-top: 5%;
        margin-bottom: 2%;
        padding: 0;
        align-content: center;
    }

    .iconFocus2 {
        display: flex;
        object-fit: scale-down;
        height: 35%;
        width: 20%;
        filter: invert(100%);
        margin-right: 40%;
        margin-left: 40%;
        padding: 0;
        align-content: center;
    }

    .iconFocus1 {
        display: flex;
        object-fit: scale-down;
        height: 38%;
        width: 11%;
        filter: invert(100%);
        margin-right: 44.5%;
        margin-left: 44.5%;
        padding: 0;
        align-content: center;
    }

    .thirds {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .focus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-weight: 600;
    }

    #row4 {
        display: none;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        color: white;
        text-align: center;
        margin-right: 5%;
        margin-left: 5%;
        line-height: 200%;
        font-size: 1vw;
    }

    #row4 img {
        display: flex;
        object-fit: scale-down;
        height: 35%;
        width: 20%;
        margin-bottom: 5%;
        margin-right: 40%;
        margin-left: 40%;
        border-radius: 50%/25%;
        padding: 0;
        align-content: center;
    }

    #row5 {
        display: none;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        color: white;
        text-align: center;
        margin-right: 5%;
        margin-left: 5%;
        line-height: 200%;
        font-size: 1vw;
    }
}

@media only screen and (max-width: 600px) {
    .screen {
        display: none;
    }

    .mobile {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100vh;
        background: black;
        font-family: 'Roboto Mono', serif;
    }

    .display {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        background: black;
    }

    #homeScreen2 {
        height: 100%;
        width: 100%;
    }

    #row42 {
        display: none;
        flex-direction: column;
        height: 100%;
        width: 90%;
        justify-content: flex-start;
        color: white;
        text-align: center;
        margin-right: 5%;
        margin-left: 5%;
        line-height: 200%;
        font-size: 2.75vw;
    }

    #row42 img {
        display: flex;
        object-fit: scale-down;
        height: 40%;
        width: 60%;
        margin-bottom: 5%;
        margin-right: 20%;
        margin-left: 20%;
        border-radius: 100%/100%;
        padding: 0;
        align-content: center;
    }

    #row52 {
        display: none;
        flex-direction: column;
        height: 100%;
        width: 90%;
        justify-content: flex-start;
        color: white;
        text-align: center;
        margin-right: 5%;
        margin-left: 5%;
        line-height: 200%;
        font-size: 2.75vw;
    }
    
    .menuBar {
        display: none;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: black;
    }

    .navbarContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80%;
    }
    
    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        color: white;
        font-weight: 600;
        padding: 0;
        margin-top: 20%;
        height: 100%;
        width: 100%;
        text-transform: lowercase;
        list-style-type: none;
        font-size: 4vw;
    }

    #scienceContent2 {
        display: none;
    }

    #gamesContent2 {
        display: none;
    }

    #sportsContent2 {
        display: none;
    }
    
    .navbar li:hover {
        text-decoration: underline;
        transform: scale(110%);
    }

    .mobileNav {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .logo {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
    
    .content {
        display:  flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    
    .row2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50%;
    }

    .col21 {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background: black;
        justify-content: center;
    }

    .hero {
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        text-align: center;
        font-size: 4vw;
    }
    
    .subhero {
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: center;
        text-align: center;
        font-size: 3vw;
    }
    
    .row3 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 25%;
        color: white;
        font-weight: 600;
        font-size: 3vw;
        justify-content: center;
    }
    
    
    .col31 {
        display: flex;
        flex-direction: column;
        width: 33%;
        height: 80%;
        margin-top: 10%;
        margin-bottom: 10%;
        justify-content: flex-end;
        text-align: center;
        justify-content: center;
        align-content: center;
        border: 2px solid white;
        margin-left: 5%;
        border-radius: 25%/50%;
    }
    
    .col31:hover {
        transform: scale(110%);
    }
    
    .col32 {
        display: flex;
        flex-direction: column;
        width: 34%;
        height: 80%;
        margin-top: 10%;
        margin-bottom: 10%;
        justify-content: flex-end;
        text-align: center;
        align-content: center;
        justify-content: center;
        border: 2px solid white;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 25%/50%;
    }
    
    .col32:hover {
        transform: scale(110%);
    }
    
    .col33 {
        display: flex;
        flex-direction: column;
        width: 33%;
        height: 80%;
        margin-top: 10%;
        margin-bottom: 10%;
        justify-content: center;
        text-align: center;
        align-content: center;
        border: 2px solid white;
        margin-right: 5%;
        border-radius: 25%/50%;
    }
    
    .col33:hover {
        transform: scale(110%);
    }
    
    .sideFooter {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20%;
        justify-content: flex-end;
    }
    
    .socials {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 5%;
    }
    
    .socials img:hover {
        transform: scale(110%);
    }
    
    .socialmedia {
        object-fit: scale-down;
        display: flex;
        justify-content: flex-end;
        height: 80%;
        width: 5%;
        filter: invert(100%);
        margin-right: 5%;
        margin-left: 5%;
        padding: 0;
    }
    
    .socialmedia2 {
        object-fit: scale-down;
        display: flex;
        justify-content: flex-end;
        height: 92%;
        width: 11%;
        filter: invert(100%);
        margin-right: 5%;
        margin-left: 5%;
        padding: 0;
    }
    
    .copyright {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20%;
        color: white;
        justify-content: flex-end;
        text-align:left;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 2.5vw;
    }

    
    .icons {
        display: flex;
        object-fit: scale-down;
        height: 80%;
        width: 20%;
        filter: invert(100%);
        margin-right: 40%;
        margin-left: 40%;
        padding: 0;
        align-content: center;
        margin-top: 15%;
    }
    
    .iconsSmall {
        display: flex;
        object-fit: scale-down;
        height: 80%;
        width: 20%;
        filter: invert(100%);
        margin-right: 40%;
        margin-left: 40%;
        margin-top: 15%;
        margin-bottom: 2%;
        padding: 0;
        align-content: center;
    }
    
    .thirds {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    
    .focus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-weight: 600;
    }

    .menu {
        display: flex;
        flex-direction: column;
        width: 5%;
        height: 97%;
        text-align: center;
        color: black;
        background: white;
        justify-content: center;
        z-index: 1000;
    }

    .menu p {
        text-align: center;
        -webkit-transform: rotate(-90deg); 
        -moz-transform: rotate(-90deg); 
        justify-content: center;
        align-self: center;  
    }

    .menuLabel {
        display: flex;
    }

    .backLabel {
        display: none;
    }

    .spacer {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 100%;
        background: black;
        padding: 0;
        margin: 0;
    }

    .menuspacer {
        display: flex;
        flex-direction: column;
        height: 20%;
        width: 100%;
        padding: 0;
        margin: 0;
        justify-content: center;
        font-weight: 800;
        font-size: 4vw;
        text-align: center;
    }

    .leftspacer {
        display: flex;
        flex-direction: column;
        height: 97%;
        width: 5%;
    }
}